@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    -webkit-tap-highlight-color: transparent;
}

body{
    display: flex;
    background-color: #f8fafc;
    margin: 0vw 0vw 0vw 0vw;
    flex-direction: column;
}

.topBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: white;
    font-family: 'Righteous';
    font-size: 1.5vw;
    font-weight: 1000;
    color: #0077FF;
    box-shadow: 0px 2px 4px rgb(236, 236, 236);
    letter-spacing: 3px;
}

.topBar svg{
    width: 1.5vw;
    height: 1.5vw;
}

.topBar .logo{
    width: 4vw ;
    height: 3vw;
    margin: 1vw 1vw 1.5vw 5vw;
}

.searchBar{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: #f5f7f9;
    margin: 1vw 2vw 0vw 15vw;
    border-radius: 50px;
    overflow: hidden;
}

.searchBar svg{
    width: 1.7vw ;
    height: 1.7vw;
    margin: 0.7vw 1vw 0vw 1.5vw;
}

.searchBar input{
    border: none;
    font-family: 'Lexend';
    width: 30vw;
    height: 2vw;
    margin: 0.5vw 0vw 0.5vw 1vw;
    background-color: #f5f7f9;
}

.searchBar input:focus{
    outline: none;
}

.sign-up , .login{
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border : 2px solid #edf0f3;
    border-radius: 50px;
    margin: 1vw 1vw 0vw 1vw;
    cursor: pointer;
    transition: all 0.3s;
}

.sign-up:hover{
    /* transform: translateY(-4px); */
    /* border:none; */
    background-color: #edf0f3;
}

.login:hover{
    background-color: rgb(201, 243, 255);
}

.sign-up:active , .login:active{
    transform: translateY(4px);
}

.sign-up p , .login p{
    font-size: 0.9vw;
    font-weight: 600;
    font-family: 'Lexend';
    margin: 0.7vw 1.7vw 0.7vw 1.7vw;
}

.login{
    border: none;
    margin-left: 0vw;
}

.topBar .like ,.topBar .cart{
    width: 1.7vw ;
    height: 1.7vw;
    margin: 1.3vw 2vw 0vw 0vw;
    cursor: pointer;
    transition: all 0.3s;
}

.topBar .like:hover ,.topBar .cart:hover{
    transform: translateY(-4px);
}

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.display{
    background-color: #0081f9;
    font-family: 'Lexend';
    border-radius: 10px;
    width: 55vw;
    height: 30vw;
    margin: 3vw 2vw 2vw 6vw;
    box-shadow: 0px 20px 30px #89c6ff;
    overflow: hidden;
}

.display p{
    color: #ccf4ff;
    font-family: 'Lexend';
    font-size: 1.4vw;
    margin: 5vw 0vw 0vw 3vw;
}

.display h1{
    font-family: 'Righteous';
    color: white;
    font-size: 4vw;
    width: 25vw;
    letter-spacing: 2px;
    margin: 0vw 0vw 0vw 3vw;
    /* text-shadow: 1px 4px 10px #004e98; */
}

.display img{
    margin-top: -17vw;
    margin-left: 3vw;
    width: 70vw;
    height: 30vw;
}

.display button{
    position: relative;
    border: none;
    width: fit-content;
    height: fit-content;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0vw 0vw 0vw 3vw;
    top: -10vw;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}

.display button p{
    font-size: 1vw;
    margin: 0.7vw 1.7vw 0.7vw 1.7vw;
    color: white;
}

.display button:active{
    transform: translateY(2px);
}

.display svg{
    width: 40vw;
    height: 20vw;
    margin: -20vw 0vw 0vw 20vw;
    filter: drop-shadow(10px 20px 20px #004e98);
}

.grid{
    margin: 3vw 0vw 0vw 1vw;

}

.grid div{
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 13vw;
    height: 14vw;
    margin-bottom: 2vw;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 20px 30px #ffcaba;
    font-family: 'Lexend';
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
}

.grid div svg{
    position: relative;
    z-index: 1;
    width: 2.5vw;
    height: 2.5vw;
    margin: 1vw 0vw 0vw 9vw;
    transition: all 0.3s;
    cursor: pointer;
}

.grid div p{
    width: fit-content;
    position: relative;
    margin: -2.4vw 0vw 0vw 1vw; 
    z-index: 1;
    transition: all 0.3s;
    
}

.grid div .itemQuantity{
    font-size: 0.9vw;
    margin-top: 0.2vw;
    font-weight: 300;
    color: white;
}

.grid div img{
    position: relative;
    width: 9vw;
    height: 7vw;
    margin: 1vw 0vw 0vw 1.5vw;
    border-radius: 10px;
    z-index: 1;
    /* filter: drop-shadow(0px 20px 10px #86685e); */
}


.grid div .rect{
    background-color: #ff845e;
    margin-top: -10vw;
    width: 11vw;
    border: none;
    transform: rotate(75deg);
    border-radius: 50px;
    height: 20vw;
    z-index: 0;
    transition: all 0.5s;
}

.grid div:hover .rect{
    margin-top: -11vw;
}

.grid div:hover svg{
    margin-top: 0vw;
}

#more{
    border: 8px solid #00c197;
    outline: 8px solid #0081f9;
    margin-top: -10vw;
    transition: all 0.3s;
}

.grid div:hover #more{
    margin-top: -11vw;
}

.cards{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    font-family: 'Lexend';
    font-weight: 500;
    color: #3a3a3a;
}

.cards h1{
    margin-left: 6vw;
}

.filterSwitch{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: fit-content;
    /* border: 1px solid black; */
    margin: 0vw 0vw 2vw 6vw;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(216, 216, 216);
    transition: all 0.3s;
}

.filterSwitch .filter{
    width: 10vw;
    height: 2vw;
    background-color: #ff845e;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 50px;
    box-shadow: 0px 2px 20px #ffbaa7;
    cursor: pointer;
    transition: all 0.5s;
    color: #ff5e2d;
    font-size: 1.1vw;
    padding-top: 0.7vw;
    padding-left: 4vw;
}

/* .filter p{
    margin: 0.6vw 0vw 0.6vw 4vw;
} */

.row{
    width: 90vw;
    max-width: 90vw;
    height: auto;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-left: 6vw;
}

.board{
    width: 20vw;
    margin: 2vw 1vw 2vw 1vw;
    /* border:1px solid black; */
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(210, 210, 210);
    transition: all 0.5s;
}

.board img{
    border-radius: 10px;
    width: 10vw;
    height: 10vw;
    margin: 2vw 5vw 1vw 5vw;
}

.category{
    font-size: 0.8vw;
    color: rgb(89, 89, 89);
    margin-left: 2vw;
    margin-bottom: 0vw;
}

.itemName{
    font-weight: 800;
    width: 15vw;
    margin-left: 2vw;
    margin-top: 0.5vw;
    font-size: 1.2vw;
    color: #3a3a3a;
}

.stars{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 1vw 0vw 0vw 2vw;
}

.stars svg{
    width: 1.5vw;
    height: 1.5vw;
    margin: 0vw 0.2vw 0vw 0.2vw;
}

.price{
    font-family: 'Righteous';
    font-weight: 900;
    font-size: 1.5vw;
    margin-left: 2vw;
    color: #ff5e2d;
}

.board:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 0px 10px #ffb9a3;
    
}

.board:active{
    transform: scale(1,1);
}

@media only screen and (max-width: 800px){

    .topBar .logo{
        width: 6vw;
        height: 6vw;
        margin: 3vw 2vw 3vw 4vw;
    }

    .topBar p{
        display: none;
        font-size: 4vw;
    }

    .searchBar{
        margin-top: 2vw;
        margin-left: 4vw;
    }

    .searchBar svg{
        width: 5vw;
        height: 5vw;
        margin-left: 4vw;
        margin-top: 1.5vw;
    }

    .searchBar input{
        width: 45vw;
        height: 6vw;
        font-size: 3vw;
        margin-top: 0.5vw;
        margin-left: 4vw;
    }
    
    .sign-up , .login{
        display: none;
    }

    .like{
        display: none;
    }

    .topBar .cart{
        width: 5vw;
        height: 5vw;
        margin-left: 4vw;
        margin-top: 3vw;
    }

    .hero{
        flex-direction: column;
    }

    .display{
        width: 90vw;
        margin-top: 5vw;
        margin-left: 4.5vw;
        height: 55vw;
    }

    .display p{
        font-size: 3vw;
        margin: 10vw 0vw 0vw 5vw;
    }

    .display h1{
        font-size: 6vw;
        width: 40vw;
        margin: 1vw 0vw 0vw 5vw;
    }

    .display img{
        margin-top: -20vw;
        margin-left: 20vw;
        width: 90vw;
        height: 40vw;
    }

    .display button{
        margin-left: 5vw;
        top:-12vw
    }

    .display button p{
        font-size: 3vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .grid{
        margin: 8vw 0vw 0vw 4.5vw;
    }

    .grid div{
        width: 30vw;
        height: 20vw;
    }

}






