@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0vw 0vw 0vw 0vw;
    display: flex;
    flex-direction: column;
}

.topBar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* background-color: plum; */
    background-image: url(Assets/back.jpg);
    background-size: cover;
    opacity: 0.95;
}

.topOptions{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 1vw 1vw 1vw 10vw;
}

.topOptions p{
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 600;
    margin: 2vw 1.5vw 1vw 1vw;
    color: white;
    cursor: pointer;
}

.topNav{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: -4vw 0vw 1vw 52vw;
}

.topNav input{
    /* display: none; */
    border: none;
    border-radius: 30px;
    font-family: 'Poppins';
    font-size: 0.9vw;
    padding-left: 1.5vw;
    width: 23vw;
    height: 2.6vw;
    margin-right: 1vw;
    /* opacity: 0.8; */
}

.topNav input:focus{
    outline: none;
}

.topNav img{
    width: 1.3vw;
    height: 1.3vw;
    margin: 0.5vw 1.8vw 0vw 0.5vw;
    cursor: pointer;
    transition: all 0.3s;
}

.topNav img:hover{
    transform: translateY(-4px) scale(1.05,1.05);
}

.topNav img:active{
    transform: scale(1,1);
}

.heading{
    font-family: 'Poppins';
    font-size: 3vw;
    /* font-weight: bold; */
    color: white;
    margin: 12vw 0vw 1vw 11vw;
    letter-spacing: 0.5vw;
}

.topBar button{
    width: fit-content;
    height: fit-content;
    border: none;
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 500;
    background-color: #ffa33a;
    color: white;
    margin: 2vw 0vw 10vw 11vw;
    cursor: pointer;
    transition: all 0.3s;
}

.topBar button p{
    margin: 1vw 2vw 1vw 2vw;
}

.topBar button:hover{
    box-shadow: 0px 0px 8px rgb(237, 237, 237);
}

.hero{
    margin: 0vw 0vw 0vw 0vw;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.hero p{
    font-family: 'Poppins';
    font-size: 2.2vw;
    font-weight: 500;
    margin: 5vw 0vw 1vw 5vw;
    color: #3a3a3a;
}

.layout{
    display: flex;
    flex-direction: row;
    width:fit-content;
    height: fit-content;
}

.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    
}

.hero .item-name{
    font-size: 1vw;
    font-weight: 600;
}

