@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    display: flex;
    background-color: #f8fafc;
    margin: 0vw 0vw 0vw 0vw;
    flex-direction: column;
}

.topBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: white;
    font-family: 'Righteous';
    font-size: 1.5vw;
    font-weight: 1000;
    color: #0077FF;
    box-shadow: 0px 2px 4px rgb(236, 236, 236);
    letter-spacing: 3px;
}

.topBar svg{
    width: 1.5vw;
    height: 1.5vw;
}

.topBar .logo{
    width: 4vw ;
    height: 2vw;
    margin: 1.5vw 1vw 1.5vw 5vw;
}

.searchBar{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: #f5f7f9;
    margin: 1vw 2vw 0vw 15vw;
    border-radius: 50px;
    overflow: hidden;
}

.searchBar svg{
    width: 1.7vw ;
    height: 1.7vw;
    margin: 0.7vw 1vw 0vw 1.5vw;
}

.searchBar input{
    border: none;
    font-family: 'Lexend';
    width: 30vw;
    height: 2vw;
    margin: 0.5vw 0vw 0.5vw 1vw;
    background-color: #f5f7f9;
}

.searchBar input:focus{
    outline: none;
}

.sign-up , .login{
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border : 2px solid #edf0f3;
    border-radius: 50px;
    margin: 1vw 1vw 0vw 1vw;
    cursor: pointer;
    transition: all 0.3s;
}

.sign-up:hover{
    /* transform: translateY(-4px); */
    /* border:none; */
    background-color: #edf0f3;
}

.login:hover{
    background-color: rgb(201, 243, 255);
}

.sign-up:active , .login:active{
    transform: translateY(4px);
}

.sign-up p , .login p{
    font-size: 0.9vw;
    font-weight: 600;
    font-family: 'Lexend';
    margin: 0.7vw 1.7vw 0.7vw 1.7vw;
}

.login{
    border: none;
    margin-left: 0vw;
}

.topBar .like ,.topBar .cart{
    width: 1.7vw ;
    height: 1.7vw;
    margin: 1.3vw 2vw 0vw 0vw;
    cursor: pointer;
    transition: all 0.3s;
}

.topBar .like:hover ,.topBar .cart:hover{
    transform: translateY(-4px);
}

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.display{
    background-color: #0081f9;
    font-family: 'Lexend';
    border-radius: 10px;
    width: 55vw;
    height: 30vw;
    margin: 3vw 2vw 2vw 6vw;
    box-shadow: 0px 20px 30px #89c6ff;
    overflow: hidden;
}

.display p{
    color: #ccf4ff;
    font-family: 'Lexend';
    font-size: 1.4vw;
    margin: 5vw 0vw 0vw 3vw;
}

.display h1{
    font-family: 'Righteous';
    color: white;
    font-size: 4vw;
    width: 25vw;
    letter-spacing: 2px;
    margin: 0vw 0vw 0vw 3vw;
    /* text-shadow: 1px 4px 10px #004e98; */
}

.display img{
    margin-top: -17vw;
    margin-left: 3vw;
    width: 70vw;
    height: 30vw;
}

.display button{
    position: relative;
    border: none;
    width: fit-content;
    height: fit-content;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0vw 0vw 0vw 3vw;
    top: -10vw;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}

.display button p{
    font-size: 1vw;
    margin: 0.7vw 1.7vw 0.7vw 1.7vw;
    color: white;
}

.display button:active{
    transform: translateY(2px);
}

.display svg{
    width: 40vw;
    height: 20vw;
    margin: -20vw 0vw 0vw 20vw;
    filter: drop-shadow(10px 20px 20px #004e98);
}

.grid{
    margin: 3vw 0vw 0vw 1vw;

}

.grid div{
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 13vw;
    height: 14vw;
    margin-bottom: 2vw;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 20px 30px #ffcaba;
    font-family: 'Lexend';
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
}

.grid div svg{
    position: relative;
    z-index: 1;
    width: 2.5vw;
    height: 2.5vw;
    margin: 1vw 0vw 0vw 9vw;
    transition: all 0.3s;
    cursor: pointer;
}

.grid div p{
    width: fit-content;
    position: relative;
    margin: -2.4vw 0vw 0vw 1vw; 
    z-index: 1;
    transition: all 0.3s;
    
}

.grid div .itemQuantity{
    font-size: 0.9vw;
    margin-top: 0.2vw;
    font-weight: 300;
    color: white;
}

.grid div img{
    position: relative;
    width: 9vw;
    height: 7vw;
    margin: 1vw 0vw 0vw 1.5vw;
    border-radius: 10px;
    z-index: 1;
    /* filter: drop-shadow(0px 20px 10px #86685e); */
}


.grid div .rect{
    background-color: #ff845e;
    margin-top: -10vw;
    width: 11vw;
    border: none;
    transform: rotate(75deg);
    border-radius: 50px;
    height: 20vw;
    z-index: 0;
    transition: all 0.5s;
}

.grid div:hover .rect{
    margin-top: -11vw;
}

.grid div:hover svg{
    margin-top: 0vw;
}

#more{
    border: 8px solid #00c197;
    outline: 8px solid #0081f9;
    margin-top: -10vw;
    transition: all 0.3s;
}

.grid div:hover #more{
    margin-top: -11vw;
}









